@media screen and (max-device-width: 1000px) and (orientation:landscape){
   aside {  visibility: hidden;   }
}

@media screen and (max-device-width: 1000px) {
   .share {  visibility: hidden;   }
}
/* Portrait phones and smaller */

/* Portrait phones and smaller */
@media (max-width: 1400px) {
	* { 
    font-size: 130%;
	}
}

@media (max-width: 600px) {
	* { 
    font-size: 80%;
	}
}

/* Portrait phones and smaller */
@media (max-width: 450px) {
	#albums div{
		margin-left: 50px;
	}

	* { 
    font-size: 50%;
	}
}